@font-face {
  src: url('/static/Minecraftia.ttf');
  font-family: 'Minecraftia';
}
body {
	margin:0;
  font-family: 'Minecraftia';
}

#main {
  width:835px;
  margin: 0 auto;
  position: relative;
}

canvas {
  background: black;
}


.ui-dialog {
  position: absolute;
  top:50px;
  left: 10px;
  background:#222;
  color:#eee;
  font-size:14px;
  border:1px solid #555;
  padding: 15px;
}

input {
  font-family: 'Minecraftia';
  background: black;
  border:1px solid #555;
  color:#eee;
}

button {
  background: black;
  font-family: 'Minecraftia';
  border:2px solid #999;
  padding:5px;
  color:#eee;
  cursor:pointer;
}

button:hover {
  background:#444;
}

.ui-dialog-titlebar {
  display:none;
}

#sidepanel {
  position:absolute;
  top:0;
  right:20px;
  border:1px solid #ddd;
  background:#333;
  width:300px;
  height:400px;

  font-size:12px;
  color:#fff;
  padding:5px;
}

#victory {
  position: fixed;
  width: 100%;
  height:100%;
  top:0;
  background: rgba(0,0,0,0.4);
}

#victory .inner {
  margin:0 auto;
  width: 350px;
  background: #eee;
  border:1px solid #ddd;
  color:#333;
  margin-top:150px;
  padding:10px;
}

.hidden {
  display:none;

}
.hearts {
  color:red;
}